{% load static %}

<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
<link href="{% static 'login_user_model/login.css' %}" rel="stylesheet"/>

<div class="login">
    <div class="login-header">
        <h2>Login</h2>
    </div>
    <form method="post" >
        {% csrf_token %}
        <div class="login-form">
            <h3>Username:</h3>
            <input type="text" name="username" placeholder="Username" required/><br>
            <h3>Password:</h3>
            <input type="password" name="password" placeholder="Password" required/>
            <br>
            <input type="submit" value="Login" class="login-button"/>
            <br>
            <a class="sign-up" href="{% url 'login_user_model:index' %}">Sign Up!</a>
            <br>
        </div>
    </form>
</div>

<script type="text/javascript" src="{% static 'login_user_model/login.js' %}">

</script>